## Objective of this notebook is to use the previously created dataframe and combine it with each neighborhood's coordinates which is obtained from another file.

In [25]:
#Necessary imports
import pandas as pd

In [2]:
#Reading previosuly created dataframe
df = pd.read_csv('Neighborhoods.csv')

In [4]:
#Reading the file which contains the coordinates of each Postal Code
coordinates = pd.read_csv('Geospatial_Coordinates.csv')

In [7]:
coordinates.shape

(103, 3)

In [8]:
coordinates.head()

  Postal Code   Latitude  Longitude
0         M1B  43.806686 -79.194353
1         M1C  43.784535 -79.160497
2         M1E  43.763573 -79.188711
3         M1G  43.770992 -79.216917
4         M1H  43.773136 -79.239476

In [15]:
#Merging the two dataframes on the basis of their Postal Code
df_final = pd.merge(df, coordinates, on='Postal Code')

In [22]:
df_final.drop(columns=['Unnamed: 0'], inplace=True)

In [23]:
df_final.head()

,Postal Code,Borough,Neighborhood,Latitude,Longitude
0,M3A,North York,Parkwoods,43.753259,-79.329656
1,M4A,North York,Victoria Village,43.725882,-79.315572
2,M5A,Downtown Toronto,"Regent Park, Harbourfront",43.654260,-79.360636
3,M6A,North York,"Lawrence Manor, Lawrence Heights",43.718518,-79.464763
4,M7A,Downtown Toronto,"Queen's Park, Ontario Provincial Government",43.662301,-79.389494

In [24]:
#Saving the dataframe created
df_final.to_csv('Final_Neighborhood_Data.csv')